@import "_reset";
@import "_variables";
@import "_typography";

body {
  background: #f5ddd8;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 210px 50px 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
  .wrapper-inner {
    width: 100%;
    display: block;
    align-items: none;
    align-content: none;
    justify-content: none;
  }
}
