/**
 * Fonts
 */
@base-font-family: "futura-pt";
@base-serif: "ltc-bodoni-175";
@base-mono: "source-code-pro";

/**
 * Colors
 */
@white: #ffffff;
@black: #000000;
@pink: #ec008c;
@light-pink: #F7E0DB;
@purple: #322F7C;
@light-purple: lighten(@purple, 30%);

/**
 * Animations
 */
@base-transition-time: 0.2s;
