.btn {
  border: 1px solid @pink;
  background: transparent;
  color: @pink;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 0.8em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-decoration: none;
}
