doctype
html
  head
    title Studio 402
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="A space for creatives in Lincoln, NE.")
    meta(name="keywords" content="lincoln,nebraska,photography,studio,rentable,hourly")
    meta(name="author" content="Noah Buscher")
    
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    
    // Fonts
    script(src="https://use.typekit.net/bbs7bbe.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
  
    // Vendor
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css")

    // Styles
    link(rel="stylesheet" href="./main.css")
  body
    != yield
