doctype
html
  head
    title Studio 402
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="A space for creatives in Lincoln, NE.")
    meta(name="keywords" content="lincoln,nebraska,photography,studio,rentable,hourly")
    meta(name="author" content="Noah Buscher")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Studio 402")
    meta(name="twitter:description" content="A space for creatives in Lincoln, NE.")
    meta(name="twitter:image:src" content="http://402.pictures/assets/images/tw.png")
    meta(name="og:title" content="Studio 402")
    meta(name="og:description" content="A space for creatives in Lincoln, NE.")
    meta(name="og:image" content="http://402.pictures/assets/images/fb.jpg")
    meta(name="og:url" content="http:/402.pictures/")
    meta(name="og:site_name" content="Studio 402")
    meta(name="og:type" content="website")
    
    link(rel="shortcut icon" type="image/png" href="/favicon.png")
    
    // Fonts
    script(src="https://use.typekit.net/bbs7bbe.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
  
    // Vendor
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css")

    // Styles
    link(rel="stylesheet" href="./main.css")
    
    // GoSquared
    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-945318-C');
  body
    != yield
