div.logo
  div.logo-text noah.

div.nav
  ul.nav-links
    li.link
      span.num 01
      a(href="#") about
    li.link 
      span.num 02
      a(href="#") projects
    li.link 
      span.num 03
      a(href="#") connect

div.hero
  div.title
    span.title-text
      | I am a developer and photographer based out of Lincoln, Nebraska.
      | I try to do things unique, not adhering to conventional standards of
      | beauty or form.
    hr.short
    
div.wrapper
  div.row
    div.col-lg-12
      h2.marginless.text--purple
        | Each project I take on is a new challenge, a new frontier to be conquered.
        | I don't ship something unless I am proud to put my name behind it.
      hr.short.hr--purple
    div.col-lg-6
      p
        | When I start working on a project with someone, the are not viewed by
        | me as a client, but instead as a friend. Want to know how a site is
        | coming along? Just text me. I believe in delivering experiences,
        | and if you need something changed even months or years down the line,
        | don't hesitate to contact me. I got your back.
    div.col-lg-6
      p
        | I stick to my Midwest roots and have a no-bullshit policy. With me,
        | what ya see is what ya get. I deliver honestly and tell you the skinny
        | upfront.&nbsp;
        a.visible(href="#") Let's work together.
 
div.wrapper
  div.row
    div.col-lg-6
      h1.marginless Projects.
      p
        | Here is a collection of my recent client work, personal projects,
        | collaborations, musings, and photographs.
    div.col-lg-offset-2.col-lg-4
      a.simple(href="#") Panda Jobs
      a.simple(href="#") Zoe
      a.simple(href="#") Jay Foreman
      a.simple(href="#") Meeet
      a.simple(href="#") Foreman Academy
      a.simple(href="#") Kempt
      a.simple(href="#") Flatron
      a.simple(href="#") William Channer
      a.simple(href="#") Taiga
      a.simple(href="#") Macaw
      a.simple(href="#") Noah Buscher

div.wrapper
  div.row
    div.col-lg-6
      h1.marginless Connect.
      p
        | I sometimes surface on the interwebs. Occasionally, you'll be lucky
        | enough to catch a glimpse of me. Here's where you can sometimes find me...
    div.col-lg-offset-2.col-lg-4
      a.simple(href="#") Instagram
      a.simple(href="#") Twitter
      a.simple(href="#") GitHub
