div.logo
  div.logo-text noah.

div.nav
  ul.nav-links
    li.link
      span.num 01
      a(href="#") about
    li.link 
      span.num 02
      a(href="#") projects
    li.link 
      span.num 03
      a(href="#") connect

div.hero
  div.title
    span.title-text
      | I am a developer and photographer based out of Lincoln, Nebraska.
      | I try to do things unique, not adhering to conventional standards of
      | beauty or form.
    hr

div.wrapper
  div.row
    div.col-lg-6
      h1.marginless Projects.
      p
        | Here is a collection of my recent client work, personal projects,
        | collaborations, musings, and photographs.
    div.col-lg-offset-2.col-lg-4
      a.simple(href="#") Panda Jobs
      a.simple(href="#") Zoe
      a.simple(href="#") Jay Foreman
      a.simple(href="#") Meeet
      a.simple(href="#") Foreman Academy
      a.simple(href="#") Kempt
      a.simple(href="#") Flatron
      a.simple(href="#") William Channer
      a.simple(href="#") Taiga
      a.simple(href="#") Macaw
      a.simple(href="#") Noah Buscher

div.wrapper
  div.row
    div.col-lg-6
      h1.marginless Connect.
      p
        | I sometimes surface on the interwebs. Occasionally, you'll be lucky
        | enough to catch a glimpse of me. Here's where you can sometimes find me...
    div.col-lg-offset-2.col-lg-4
      a.simple(href="#") Instagram
      a.simple(href="#") Twitter
      a.simple(href="#") GitHub
