div.logo
  div.logo-text 402.

div.nav
  ul.nav-links
    li.link
      span.num 01
      a(href="#about") how it works
    li.link 
      span.num 02
      a(href="#rates") rates
    li.link 
      span.num 03
      a(href="#signup") sign up

div.hero
  div.hero-holder
    div.title
      span.title-text
        | <span class="name">Studio <span class="counter" id="counter">402</span></span> is an affordable space for creatives in Lincoln to take photos
        | and meet with clients. But we're more than just a space... we're a
        | community.
      hr.short
    
div.wrapper#about
  div.wrapper-inner
    div.row
      div.col-xs-12
        h2.marginless.text--purple
          | We are focused on providing an accessible place for beginner to expert
          | photographers to use.
        hr.short.hr--purple
      div.col-md-6.col-xs-12
        p
          | Let's be real: one of the hardest things about being a photographer in the 
          | Midwest is the supossed lack of photo locations, expecially if you don't 
          | have access to a studio! That's where we come in... for $20/hour you
          | can have your own studio space and meeting room that you can use to take portraits,
          | artisitc shoots, do product photography, and get crazy!
      div.col-md-6.col-xs-12
        p
          | Studio 402 is owned by two Lincoln photographers, Noah Buscher and Amanda Leise,
          | and we know what photographers need to have a sucessful shoot. That's why we provide
          | studio lighting, backdrops, props, equiptment, and, of course, coffee! So what are
          | you waiting for?

div.wrapper#rates
  div.wrapper-inner
    div.row
      div.col-lg-12.col-xs-12
        h1.marginless Rates.
        p
          | We get it that photographers have it hard: you're an artist, manage your
          | own business, and often even end up being a taxi driver for you clients.
          | You can rest easy knowing we're extremely affordable in additon to being
          | completely transparent.
    div.row
      div.col-md-6.col-xs-12
        h2 Per Hour
        h3 $20/hr
        p
          | Need a studio space to snap a few portraits? We got your back. Just block
          | off the time in the studio online and submit payment via PayPal! It's really
          | that easy.
      
      div.col-md-6.col-xs-12
        h2 Monthly
        h3 $50/month
        p
          | Think you're gonna need the space quite a bit? Snag a monthly membership
          | to get access to the space 9-5! Just be sure to block off the time you're
          | using it for. Cancel anytime. [maximum of 20 hours]
   
div.wrapper#signup
  div.wrapper-inner
    div.row
      div.col-xs-12
        h1.marginless Let's do this.
      div.col-md-6.col-xs-12
        p
          | Want to start using Studio 402? We're opening in just a few days. Until
          | then, you can head over, make an account, and sign up to be notified!
        a.btn(href="https://402.cobot.me") Choose a plan

footer
  div.footer-links
    div.row
      div.col-md-4.col-xs-12
        small.text--white Studio 402
      div.col-md-4.col-xs-12
        small.text--white &copy; Studio 402
      div.col-md-4.col-xs-12
        small.text--white
          | Site by&nbsp;
          a.text--white(href="https://noahbuscher.com") Noah
