div.logo
  div.logo-text 402.

div.nav
  ul.nav-links
    li.link
      span.num 01
      a(href="#about") how it works
    li.link 
      span.num 02
      a(href="#rates") rates
    li.link 
      span.num 03
      a(href="#signup") sign up

div.hero
  div.hero-inner
    div.row
      div.col-xs-12
        h1
          | <span class="name">Studio <span class="counter" id="counter">402</span></span>
          | is an affordable space for creatives in Lincoln to create and showcase their
          | work. But we're more than just a space... we're a community.
        hr.short
    
div.wrapper#about
  div.wrapper-inner
    div.row
      div.col-xs-12
        h2.marginless.text--purple
          | We are focused on providing an accessible location for beginners and
          | experienced creators alike to inhabit. 
        hr.short.hr--purple
      div.col-md-6.col-xs-12
        p
          | Let's be real: one of the hardest things about being a creative in the
          | Midwest is a lack of resources. We're here to bridge that gap by providing
          | mutiple studios, including photo studios, a recording studio, and a showroom
          | to rent and make amazing things in.
      div.col-md-6.col-xs-12
        p
          | In addition to providing the locations, we also supplement with equiptment
          | such as lighting, backdrops, keyboards, mixers, and more to get your project
          | off the ground! And every space doubles as a meeting room to sit down with clients.

div.wrapper#rates
  div.wrapper-inner
    div.row
      div.col-lg-12.col-xs-12
        h2.marginless.section Rates &mdash;
        p
          | We get it that independent creators have it hard: you're an artist, manage your
          | own business, and often even end up being a taxi driver for you clients.
          | You can rest easy knowing we're extremely affordable in additon to being
          | completely transparent.
    div.row
      div.col-md-6.col-xs-12
        h3 Per Hour
        h4 $20/hr
        p
          | Need a studio space to snap a few portraits, record a new track, or 
          | meet with your client? We got your back. Just block off the time in
          | the studio and submit payment online! It's really that easy.
      
      div.col-md-6.col-xs-12
        h3 Monthly
        h4 $75/month
        p
          | Think you're gonna need the spaces quite a bit? Snag a monthly membership
          | to get access to any of our four studios from 9-5! Just be sure to block
          | off the time you're using it for. Cancel anytime. (maximum of 20 hours)
   
div.wrapper#signup
  div.wrapper-inner
    div.row
      div.col-xs-12
        h2.marginless.section Let's do this &mdash;
      div.col-md-6.col-xs-12
        p
          | Want to start using Studio 402? We're opening in just a few weeks. Until
          | then, you can head over, make an account, and sign up to be notified!
        a.btn(href="https://402.cobot.me") Choose a plan

footer
  div.footer-links
    div.row
      div.col-md-4.col-xs-12
        div
          small.text--white Studio 402
        div
          small.text--white Opening September 2017
      div.col-md-4.col-xs-12
        small.text--white &copy; Studio 402
      div.col-md-4.col-xs-12
        small.text--white
          | Site by&nbsp;
          a.text--white(href="https://noahbuscher.com") Noah
